<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.aitaodian.Login</servlet-class>
    </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectLife</servlet-name>
    <servlet-class>servlet.SelectLife</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JSONServlet</servlet-name>
    <servlet-class>servlet.JSONServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyLife</servlet-name>
    <servlet-class>servlet.ReplyLife</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommLife</servlet-name>
    <servlet-class>servlet.CommLife</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertLife</servlet-name>
    <servlet-class>servlet.InsertLife</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertCount</servlet-name>
    <servlet-class>servlet.InsertCount</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCost</servlet-name>
    <servlet-class>servlet.SelectCost</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectHappy</servlet-name>
    <servlet-class>servlet.SelectHappy</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectHappyContent</servlet-name>
    <servlet-class>servlet.SelectHappyContent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCareer</servlet-name>
    <servlet-class>servlet.SelectCareer</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCreate</servlet-name>
    <servlet-class>servlet.SelectCreate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCreateMatch</servlet-name>
    <servlet-class>servlet.SelectCreateMatch</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertCreate</servlet-name>
    <servlet-class>servlet.InsertCreate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCreateGod</servlet-name>
    <servlet-class>servlet.SelectCreateGod</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestToken</servlet-name>
    <servlet-class>servlet.TestToken</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectFriend</servlet-name>
    <servlet-class>servlet.SelectFriend</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReceiveImage</servlet-name>
    <servlet-class>servlet.ReceiveImage</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectImage</servlet-name>
    <servlet-class>servlet.SelectImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectIdea</servlet-name>
    <servlet-class>servlet.SelectIdea</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectStudentTask</servlet-name>
    <servlet-class>servlet.SelectStudentTask</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectStudentCommunity</servlet-name>
    <servlet-class>servlet.SelectStudentCommunity</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectStudentMatch</servlet-name>
    <servlet-class>servlet.SelectStudentMatch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserInfor</servlet-name>
    <servlet-class>servlet.UpdateUserInfor</servlet-class>
  </servlet>

  
  
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>SelectStudentMatch</servlet-name>
    <url-pattern>/servlet/SelectStudentMatch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SelectStudentCommunity</servlet-name>
    <url-pattern>/servlet/SelectStudentCommunity</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>SelectStudentTask</servlet-name>
    <url-pattern>/servlet/SelectStudentTask</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>SelectIdea</servlet-name>
    <url-pattern>/servlet/SelectIdea</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>SelectImage</servlet-name>
    <url-pattern>/servlet/SelectImage</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>ReceiveImage</servlet-name>
    <url-pattern>/servlet/ReceiveImage</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>SelectFriend</servlet-name>
    <url-pattern>/servlet/SelectFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectLife</servlet-name>
    <url-pattern>/servlet/SelectLife</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSONServlet</servlet-name>
    <url-pattern>/servlet/JSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyLife</servlet-name>
    <url-pattern>/servlet/ReplyLife</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommLife</servlet-name>
    <url-pattern>/servlet/CommLife</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertLife</servlet-name>
    <url-pattern>/servlet/InsertLife</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCount</servlet-name>
    <url-pattern>/servlet/InsertCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCost</servlet-name>
    <url-pattern>/servlet/SelectCost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectHappy</servlet-name>
    <url-pattern>/servlet/SelectHappy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectHappyContent</servlet-name>
    <url-pattern>/servlet/SelectHappyContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCareer</servlet-name>
    <url-pattern>/servlet/SelectCareer</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SelectCreate</servlet-name>
    <url-pattern>/servlet/SelectCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCreateMatch</servlet-name>
    <url-pattern>/servlet/SelectCreateMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCreate</servlet-name>
    <url-pattern>/servlet/InsertCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCreateGod</servlet-name>
    <url-pattern>/servlet/SelectCreateGod</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>TestToken</servlet-name>
    <url-pattern>/servlet/TestToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInfor</servlet-name>
    <url-pattern>/servlet/UpdateUserInfor</url-pattern>
  </servlet-mapping>
</web-app>
